In [27]:
import geopandas as gpd # for countries
import pandas as pd
import json

# link: https://www.naturalearthdata.com/downloads/110m-cultural-vectors/# here click "download land" to get, among other files, the shapefile used to show the different countries on the map
# store the downloaded data in the same directory as this notebook
shapefile = 'ne_110m_admin_0_countries_lakes.shp'

# read shapefile using Geopandas
countries = gpd.read_file(shapefile)[['ADMIN', 'ADM0_A3', 'geometry']]
countries

# rename columns
countries.columns = ['country', 'country_code', 'geometry']
countries

year = 0
while (year < 1900 or year > 2021):
    year = int(input("Please type in for which year (between 1900 and 2020) you would like to see the shares of renewable energy:"))

Please type in for which year (between 1900 and 2020) you would like to see the shares of renewable energy: 2010

In [28]:
with open('energy.csv', 'r') as energy_csv:
    energy = pd.read_csv(energy_csv)
energy_2020 = energy [energy['year'] == year] #while testing year was set to 2020 thus the name of the variable
#energy_2020 = energy_2020.dropna(axis=1)
energy_2020

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
110,AFG,Afghanistan,2010,45.000,1.306,NaN,NaN,NaN,NaN,23.821,...,0.007,NaN,4.906888e+10,0.011,NaN,NaN,NaN,NaN,0.003,NaN
230,NaN,Africa,2010,3.721,61.244,5.308,101.976,3.229,176.892,3.244,...,0.206,0.536,NaN,0.340,42.802,0.133,1.785,5.956,2.198,5.730
350,ALB,Albania,2010,0.000,0.000,-67.062,-0.211,103.493,3.723,19.929,...,0.170,NaN,2.789741e+10,0.000,NaN,NaN,NaN,NaN,0.000,NaN
470,DZA,Algeria,2010,0.000,NaN,1.084,8.297,-4.479,-40.163,-2.540,...,0.003,0.660,4.480000e+11,0.000,NaN,0.000,0.000,0.000,0.000,0.000
510,ASM,American Samoa,2010,NaN,0.000,NaN,NaN,NaN,NaN,0.000,...,0.000,NaN,NaN,0.000,NaN,NaN,NaN,NaN,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17014,OWID_WRL,World,2010,5.550,2203.032,7.199,2112.975,2.013,912.836,4.807,...,4.387,12.636,8.850000e+13,1.667,24.752,0.643,179.254,903.467,49.803,129.868
17065,YEM,Yemen,2010,NaN,NaN,700.013,54.734,-0.605,-1.010,-2.961,...,0.086,NaN,1.070000e+11,0.000,NaN,NaN,NaN,NaN,0.000,NaN
17185,NaN,Yugoslavia,2010,0.000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17302,ZMB,Zambia,2010,0.000,NaN,NaN,NaN,NaN,NaN,4.679,...,0.153,NaN,3.968360e+10,0.000,NaN,NaN,NaN,NaN,0.000,NaN
17422,ZWE,Zimbabwe,2010,60.026,7.505,NaN,NaN,NaN,NaN,13.346,...,0.000,NaN,1.660410e+10,0.000,NaN,NaN,NaN,NaN,0.000,NaN

In [29]:
energy_2020 = energy_2020[['iso_code', 'country', 'renewables_share_elec']]
energy_2020

       iso_code         country  renewables_share_elec
110         AFG     Afghanistan                 80.241
230         NaN          Africa                 16.938
350         ALB         Albania                 99.987
470         DZA         Algeria                  0.400
510         ASM  American Samoa                  0.000
...         ...             ...                    ...
17014  OWID_WRL           World                 20.061
17065       YEM           Yemen                  0.027
17185       NaN      Yugoslavia                    NaN
17302       ZMB          Zambia                 99.883
17422       ZWE        Zimbabwe                 69.130

[241 rows x 3 columns]

In [30]:
# merging energy_2020 and countries
c_e2020 = countries.merge(energy_2020, left_on='country_code', right_on='iso_code')

# removing redundant columns
c_e2020 = c_e2020.drop(['country_y', 'country_code'], axis=1)
c_e2020

,country_x,geometry,iso_code,renewables_share_elec
0,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",FJI,53.802
1,United Republic of Tanzania,"POLYGON ((34.07263 -1.05983, 37.69869 -3.09699...",TZA,53.449
2,Canada,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",CAN,62.978
3,United States of America,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",USA,10.227
4,Kazakhstan,"POLYGON ((87.35997 49.21498, 86.59878 48.54918...",KAZ,10.172
...,...,...,...,...
163,Bosnia and Herzegovina,"POLYGON ((18.56000 42.65000, 17.67492 43.02856...",BIH,48.163
164,Macedonia,"POLYGON ((22.38053 42.32026, 22.88137 41.99930...",MKD,33.485
165,Republic of Serbia,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",SRB,32.908
166,Montenegro,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",MNE,69.488
167,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",TTO,0.050

In [31]:
# preparation for visualizsation:

c_e2020_json = json.loads(c_e2020.to_json())

In [32]:
import folium

m = folium.Map(location=[50, 0], zoom_start=1.4)

folium.Choropleth(
    geo_data = c_e2020_json,
    data = c_e2020,
    columns=["iso_code", "renewables_share_elec"],
    key_on="feature.properties.code",
    fill_color="YlGn",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="renewable energy share(%)",
).add_to(m)

folium.LayerControl().add_to(m)

m.save("map.html")
m

AttributeError: module 'folium' has no attribute 'Map'

In [33]:
#drawing the graph for a specific country of interest:
c_o_i = input("For which country would you like to see the development of the share of renewable energy and of recycled paper:") # c_o_i = country of interest
while (not c_o_i in list(c_e2020["country_x"])):
    print("Sorry, the country name you put in is invalid. A valid input would be e.g. 'Finland'. \nTry again: ")
    c_o_i = input(" For which 'country would you like to see the development of the share of renewable energy and of recycled paper:") # c_o_i = country of interest

For which country would you like to see the development of the share of renewable energy and of recycled paper: Finland